# PostgreSQL connection
DB_HOST=your-db-host
DB_PORT=5432
DB_NAME=your-db-name
DB_USER=your-db-user
DB_PASSWORD=your-db-password

# Initial Recommendations API URL
API_URL=your-api-url

# Nth Recommendations API URL
NTH_API_URL=your-nth-api-url

# MongoDB connection for saving tester feedback and payloads
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/
MONGO_DB_NAME=your-mongo-db-name
MONGO_COLLECTION_NAME=your-mongo-collection-name
MONGO_NTH_COLLECTION_NAME=your-nth-mongo-collection-name
